@media (prefers-color-scheme: dark) {
  :root {
    background-color: #1e1127;
    color: #7dcbc3;
  }
  body > header > .display {
    -webkit-text-stroke-color: #7dcbc3;
  }
  .card {
    box-shadow: 0 4px 8px 0 #42adf495;
  }

  .cta:hover {
    border: 0.1rem solid #7dcbc32a;
    background-color: #7dcbc32a;
  }
  @media screen and (min-width: 400px) {
    section {
      display: grid;
      grid-template-columns: 100vw;
      grid-template-rows: auto;
    }
  }
}
@import url("https://use.typekit.net/ifg2wbg.css");

:root {
  background-color: #7dcbc3;
  color: #1e1127;
}

body {
  margin: auto;
  padding-left: 10vw;
  padding-right: 10vw;
}

.nobg {
  display: flex;
  flex-wrap: wrap;
  gap: 20vw;
  align-items: center;
  justify-content: center;
}
.circle {
  border-radius: 50%;
  height: 7vw;
  width: 7vw;
  background-color: #1e1127;
}
.triang {
  width: 0;
  height: 0;
  border-left: 4vw solid transparent;
  border-right: 4vw solid transparent;

  border-bottom: 5vw solid #1e1127;
}
body > .imagebg > .display {
  font-family: "articulat-heavy-cf", sans-serif;
  font-weight: 900;
  font-style: normal;
  opacity: 1;
  font-size: 4.768rem;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  color: transparent;

  -webkit-text-stroke-width: 0.075rem;
  -webkit-text-stroke-color: #1e1127;
  padding: 2vw;
  justify-self: center;
  align-content: center;
}

.imagebg {
  border-radius: 1rem;
  background-image: url(https://images.pexels.com/photos/1029622/pexels-photo-1029622.jpeg);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  margin-top: 7vw;
  margin-bottom: 7vw;
  max-height: auto;
  padding: 2vw;
}
.nobg {
  border-radius: 1rem;
  height: 20vw;
}

h1 {
  font-family: "articulat-cf", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.09rem;
  font-size: 1.953rem;
}
p {
  font-family: "articulat-cf", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  padding: 2vw;
}
section {
  display: flex;
  flex-wrap: wrap;
  gap: 4vw;
  max-width: 100vw;
  justify-content: center;
}

.card {
  max-width: 20vw;
  text-align: center;
  margin: auto;
  align-content: center;
  /* border: 0.1rem solid #f2f2f2; */
  border-radius: 1rem;
  padding: 2vw;
  box-shadow: 0 4px 8px 0 #1e1127;
  transition: 0.1s;
}
.card:hover {
  box-shadow: 0 16px 32px 0 #2c2035a0;
}

img {
  border-radius: 1rem;
  max-width: 20vw;
}
img:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.price {
  font-weight: bold;
}
.description {
  font-size: 0.8rem;
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.cta {
  font-size: 0.8rem;
  width: 15vw;
  color: #1e1127;
  align-items: center;
  justify-self: center;

  background-color: transparent;
  border: 0.1rem solid #1e1127;
  border-radius: 4rem;
  padding: 0.4vw;
  text-align: center;
  cursor: pointer;
}
.cta:hover {
  border: 0.1rem solid #1e112729;
  text-decoration: underline;
  background-color: #1e112729;
}
.cta > img {
  justify-self: center;
  padding-left: 0.5vw;
  max-width: 1vw;
}
