@import url("https://use.typekit.net/ifg2wbg.css");
/* @media (prefers-color-scheme: dark) {
  :root {
    background-color: #1e1127;
    color: #7dcbc3;

} 
body > header > .display{
  -webkit-text-stroke-color: #7dcbc3; 
}
.card{
  box-shadow: 0 4px 8px 0 #42adf495;
}

.cta:hover {
  border: 0.1rem solid #7dcbc32a;
  background-color: #7dcbc32a;
} */

:root {
  background-color: #7dcbc3;
  color: #1e1127;
}

body {
  margin: auto;
  padding: 10rem;
}
body > .imagebg > .display {
  font-family: "articulat-heavy-cf", sans-serif;
  font-weight: 900;
  font-style: normal;
  opacity: 1;
  font-size: 4.768rem;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  color: transparent;

  -webkit-text-stroke-width: 0.07rem;
  -webkit-text-stroke-color: #1e1127;
}
.imagebg {
  border-radius: 1rem;
  background-image: linear-gradient(#2c203537, #2c203537), url(https://images.pexels.com/photos/1422220/pexels-photo-1422220.jpeg);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  opacity: 0.6;
  height: 20rem;
}
.nobg {
  border-radius: 1rem;
  height: 20rem;
}

h1 {
  font-family: "articulat-cf", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.09rem;
  font-size: 1.953rem;
}
p {
  font-family: "articulat-cf", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}
section {
  display: flex;
  flex-wrap: wrap;
  gap: 2.7rem;
  max-width: 100%;
  justify-content: center;
}
.card {
  max-width: 25%;
  text-align: center;
  margin: auto;
  align-content: center;
  /* border: 0.1rem solid #f2f2f2; */
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 #1e1127;
  transition: 0.1s;
}
.card:hover {
  box-shadow: 0 16px 32px 0 #2c2035a0;
}

img {
  border-radius: 1rem;
  max-width: 80%;
}
img:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.price {
  font-weight: bold;
}
.description {
  font-size: 0.8rem;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.cta {
  font-size: 0.8rem;
  width: 80%;
  color: #1e1127;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: 0.1rem solid #1e1127;
  border-radius: 4rem;
  padding: 0.3rem;
  text-align: center;
  cursor: pointer;
}
.cta:hover {
  border: 0.1rem solid #1e112729;
  text-decoration: underline;
  background-color: #1e112729;
}
.cta > img {
  padding-left: 0.5rem;
  max-width: 0.8rem;
}
